- name: Create and set-up database VM
  hosts: localhost
  gather_facts: yes
  vars_files:
    - secrets.yml
  vars:
    ansible_python_interpreter: "/home/aisi7936/MachineRepairShop/Ansible/venv/bin/python3" 

  tasks:
    - name: Create VM, extract variables
      one_vm:
        api_url: "https://grid5.mif.vu.lt/cloud3/RPC2"
        api_username: "{{ nebula_user }}"
        api_password: "{{ nebula_password }}"
        template_id: 1737
        count: 1
        cpu: 1
        memory: 1 GB
        disk_size: 10 GB
        state: present
        wait: yes
        attributes:
          name: db-vm
          TCP_PORT_FORWARDING: "80"
      register: result

    - name: VM info
      debug:
        var: result  # note - missing TCP port field until VM fully starts

    - name: Set convenient variables
      set_fact:
        vm_id: "{{ result.instances[0].vm_id }}"
        vm_private_ip: "{{ result.instances[0].networks[0].ip }}"
        vm_owner_name: "{{ result.instances[0].owner_name }}"

    - name: Wait for full bootstrap. TCP port opening as indicator
      wait_for:
        host: "{{ vm_private_ip }}"
        port: 22
        timeout: 300

    - name: Show parsed VM details
      debug:
        msg: >
          VM {{ vm_id }} is running at IP {{ vm_private_ip }},
          owned by {{ vm_owner_name }}\
  
    - name: Add VM to DB host group
      add_host:
        name: "{{ vm_private_ip }}"
        groups: DB

    - name: Define SSH connection details for DB VM
      set_fact:
        ansible_user: ubuntu



