---
- name: Create and set-up webserver VM (provision)
  hosts: localhost
  gather_facts: yes
  vars_files:
    - secrets.yml

  tasks:
    - name: Set interpreter path
      set_fact:
        ansible_python_interpreter: "{{ ansible_env.HOME }}/.ansible-venv/bin/python3"
    
    - name: Create VM, extract variables
      one_vm:
        api_url: "https://grid5.mif.vu.lt/cloud3/RPC2"
        api_username: "{{ webservervm_user }}"
        api_password: "{{ webservervm_pass }}"
        template_id: 1737
        count: 1
        cpu: 1
        memory: 1 GB
        disk_size: 10 GB
        state: present
        wait: yes
        attributes:
          name: webserver-vm
          TCP_PORT_FORWARDING: "80"
      register: result

    - name: VM info
      debug:
        var: result

    - name: Set convenient variables
      set_fact:
        vm_id: "{{ result.instances[0].vm_id }}"
        vm_private_ip: "{{ result.instances[0].networks[0].ip }}"
        vm_owner_name: "{{ result.instances[0].owner_name }}"

    - name: Wait for full bootstrap. TCP port opening as indicator
      wait_for:
        host: "{{ vm_private_ip }}"
        port: 22
        timeout: 300

    - name: Show parsed VM details
      debug:
        msg: >
          VM {{ vm_id }} is running at IP {{ vm_private_ip }},
          owned by {{ vm_owner_name }}

    - name: onevm show extra info
      expect:
        command: "onevm show {{ vm_id }} --user {{ webservervm_user }} --endpoint https://grid5.mif.vu.lt/cloud3/RPC2"
        responses:
          "Password:": "{{ webservervm_pass }}"
      register: result2

    - name: Extract public IP and TCP forwarding port
      set_fact:
        public_ip: "{{ result2.stdout | regex_search('PUBLIC_IP=\"([0-9\\.]+)\"', '\\1') }}"
        tcp_forward_port: "{{ result2.stdout | regex_search('TCP_PORT_FORWARDING=\"([0-9]+):', '\\1') }}"

    - name: Clean extracted IP and port
      set_fact:
        public_ip_clean: "{{ public_ip | regex_replace('[^0-9\\.]', '') }}"
        tcp_port_clean: "{{ tcp_forward_port | regex_replace('[^0-9]', '') }}"

    - name: VM info2
      debug:
        var: result2


    - name: Show parsed VM details
      debug:
        msg: >
          VM {{ vm_id }} is running at IP {{ vm_private_ip }},
          owned by {{ vm_owner_name }}. tcp port forwarding is  {{ tcp_port_clean }}:80.
          vm's public ip is {{ public_ip_clean }}
          Website should be reachable over www in the VU network using link-
          http://{{ public_ip_clean }}:{{ tcp_port_clean }} OR http://{{ vm_private_ip }}:80

    - name: Add temp host dinamically
      add_host:
        name: "{{ webservervm_user }}@{{ vm_private_ip }}"
        groups: webserver_vm
        vm_private_ip: "{{ vm_private_ip }}"
        webservervm_user: "{{ webservervm_user }}"

    - name: Copy SSH public key to the VM # one usr account must contain [PASSWORD] variable, as well as [PASSWORD] must be contained in vault
      shell: sshpass -p "{{ webserver_sudo_password }}" ssh-copy-id -o StrictHostKeyChecking=no "{{ webservervm_user }}"@"{{ vm_private_ip }}"



- name: Set up and run docker on vm #task sequence provided by https://docs.docker.com/engine/install/ubuntu/
  hosts: webserver_vm
  vars_files:
    - secrets.yml
  gather_facts: no
  become: yes
  vars:
    ansible_become_pass: "{{ webserver_sudo_password }}"
    ansible_shell_executable: /bin/sh


  tasks:
    - name: Update VM
      raw: |
        sudo apt update -y

    - name: Install apt dependencies for Docker
      ansible.builtin.apt:
        name:
          - ca-certificates
          - curl
        state: present
        update_cache: yes

    - name: Ensure /etc/apt/keyrings directory exists
      file:
        path: /etc/apt/keyrings
        state: directory
        mode: '0755'

    - name: Download Docker GPG key
      get_url:
        url: https://download.docker.com/linux/ubuntu/gpg
        dest: /etc/apt/keyrings/docker.asc
        mode: '0644'

    - name: Gather Ubuntu codename
      ansible.builtin.shell: ". /etc/os-release && echo ${UBUNTU_CODENAME:-$VERSION_CODENAME}"
      register: ubuntu_codename
      changed_when: false

    - name: Add Docker APT source file
      ansible.builtin.copy:
        dest: /etc/apt/sources.list.d/docker.sources
        mode: '0644'
        content: |
          Types: deb
          URIs: https://download.docker.com/linux/ubuntu
          Suites: {{ ubuntu_codename.stdout }}
          Components: stable
          Signed-By: /etc/apt/keyrings/docker.asc

    - name: Update apt package index after adding Docker repo
      apt:
        update_cache: yes

    - name: Install Docker engine and related packages
      apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
        state: present

    - name: Copy files to the VM
      copy:
        src: "{{ lookup('env', 'HOME') }}/MachineRepairShop/Misc/webserver_vm"
        dest: "/home/{{ webservervm_user }}/MachineRepairShop/Misc"
        mode: '0644'

    - name: Copy files to the VM2
      copy:
        src: "{{ lookup('env', 'HOME') }}/MachineRepairShop/Misc/apache2_install.sh"
        dest: "/home/{{ webservervm_user }}/MachineRepairShop/Misc/webserver_vm"
        mode: '0644'

    - name: Copy files to the VM3
      copy:
        src: "{{ lookup('env', 'HOME') }}/MachineRepairShop/Web"
        dest: "/home/{{ webservervm_user }}/MachineRepairShop/Misc/webserver_vm"
        mode: '0644'

    - name: Run Docker Compose services
      command: docker compose up -d --build
      args:
        chdir: "/home/{{ webservervm_user }}/MachineRepairShop/Misc/webserver_vm"

